---
import { withBase } from "@/utils/url";

const {  menuKey, id = 0, menu } = Astro.props;

const heading = menu.heading;

---

<div
  class="block
  w-screen
  bg-gray-100
  border-b-1
  border-gray-400
  z-100
  m-y-0 "
>
  <!-- Checkbox Toggle -->
  <input type="checkbox" name="accordion-select" id={`menu-toggle${id}`} 
    class={`hidden peer`} />
  <label for={`menu-toggle${id}`} 
    class="md:hidden block cursor-pointer bg-gray-200 px-1">
    {heading}
  </label>
   
  <ul
    class={`
      overflow-hidden     
      flex flex-col
      px-4 md:hidden 
      max-h-0
      peer-checked:max-h-[1000px]
      peer-not-checked:hidden"
      transition-all duration-500 ease-in-out`}
  >
    {
      menu.items.map((item) => (
        <li class="my-1/2 border-b-1">
          <a
            href={withBase(item.path)}
            target={item.blank ? "_blank" : undefined}
            rel={item.blank ? "noopener" : undefined}
            class="flex items-center text-gray-600">
            {item.title}
          </a>
        </li>
      ))
    }
  </ul>
</div>
